body {
    background:url(https://images.shwst.one/bg_d41d8cd98f00b204e9800998ecf8427e.jpg);//图片路径
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position: right;
		opacity: 0.9;//设置文章主体透明度
}

//侧边框的透明度设置
.sidebar {
  background-color: transparent;
  opacity: 1;
}

//菜单栏的透明度设置
.header {
  background: rgba(255,255,255,1);
}

.footer-inner {
  background: rgba(255,255,255,1);
  // border-radius: 10px;
}
/*
.back-to-top {
  border-bottom-left-radius: 10px;           
  border-bottom-right-radius: 10px;
}
*/
